<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Homepage</title>
  <!-- Add Bootstrap CSS link here -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  

  <!-- Header Section -->
  <header class="jumbotron jumbotron-fluid bg-primary text-white text-center" style="background-color: #0099CC;">
    <div class="container">
      <h1 class="display-4">Welcome to My Website</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <a href="#" class="btn btn-light btn-lg"  style="background-color: #444;">Learn More</a>
    </div>
  </header>
  
  
  

  <!-- Featured Content Section -->
 <!-- Featured Content Section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <img src="../../assets/images/glass.png" class="card-img-top" style="width: 300px; height: 300px;" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Feature 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button" class="btn btn-outline-primary"  style="background-color: #e3bf4d;">btn-outline-primary</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="../../assets/images/mantra.png" class="card-img-top" style="width: 300px; height: 300px;" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Feature 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button" class="btn btn-outline-primary" style="background-color: #e3bf4d;">btn-outline-primary</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="../../assets/images/tt.jpg" class="card-img-top" style="width: 300px; height: 300px;" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Feature 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button" class="btn btn-outline-primary" style="background-color: #e3bf4d;">btn-outline-primary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 
  <!-- Call-to-Action Section (Added) -->
  <section class="py-5 bg-primary text-white">
    <!-- Call-to-Action Section -->
<section class="py-5 bg-primary text-white">
  <div class="container text-center">
    <h2 class="mb-4">Sign Up for Our Newsletter</h2>
    <p class="lead">Subscribe to receive the latest updates and news.</p>
    <a href="#" class="btn btn-light btn-lg">Sign Up Now</a>
  </div>
</section>

    <!-- The call-to-action section goes here (as provided above) -->
  </section>
 

  <!-- Add Bootstrap JS and jQuery link here -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

