<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services - My Website</title>
  <!-- Add Bootstrap CSS link here -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
 

  <!-- Service Section -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">Our Services</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img src="../../assets/images/weber.jfif" class="card-img-top" alt="Service 1">
            <div class="card-body">
              <h5 class="card-title">Weber</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="../../assets/images/greenpro.jfif" class="card-img-top" alt="Service 2">
            <div class="card-body">
              <h5 class="card-title">GreenPro</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="../../assets/images/gyproc.jfif" class="card-img-top" alt="Service 3">
            <div class="card-body">
              <h5 class="card-title">Gproc</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Add Bootstrap JS and jQuery link here -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

